html {
  font-size: 1vh;
}

body {
  height: 100vh;
  width: 100vw;
  background: white;
  color: white;
  font-size: 2rem;
}

.section {
  height: 100vh;
  position: relative;
}

.center {
  position: absolute;
  top: calc(50% - 25rem);
  left: calc(50% - 25rem);
  width: 50rem;
  height: 50rem;
  overflow: hidden;
}
.center.full {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.center.one .r, .center.one .g, .center.one .b {
  background-image: url(http://unsplash.it/g/600/600?image=495);
}
.center.two .r, .center.two .g, .center.two .b {
  /* background-image: url(http://unsplash.it/g/800/600?image=781); */
}
.center.three .r, .center.three .g, .center.three .b {
  /* background-image: url(http://unsplash.it/g/600/600?image=942); */
}
.center.four .r, .center.four .g, .center.four .b {
  /* background-image: url(http://unsplash.it/g/800/600?image=363); */
}
.center.five .r, .center.five .g, .center.five .b {
  /* background-image: url(http://unsplash.it/g/600/600?image=396); */
}
.center .r, .center .g, .center .b {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: cover;
  mix-blend-mode: screen;
  background-blend-mode: darken;
}
.center .r {
  background-color: red;
}
.center .g {
  background-color: lime;
}
.center .b {
  background-color: blue;
}

.sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}
