@font-face {
  font-family: 'Adieu';
  src: url('https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5c93a5234528921f6c6a4f74_Adieu-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
