article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

.revealer,
.content,
.grid--slideshow {
  margin-top: 5vw;
}

audio,
canvas,
video {
  display: inline-block;
}

article .img-wrap--content {
  /* height: 570px;
  width: 410px; */
  /* transform: translateX(25%); */
}

article header {
  /* transform: translateX(-25%); */
}

.content__item-header-title {
  text-transform: uppercase;
  font-size: 6vw;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.full-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-text {
  display: inline-block;
  font-family: "Nb international", sans-serif;
  color: #141313;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.fa-heading {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Adieu, sans-serif;
  color: #e02254;
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
  -webkit-text-stroke: 1.4px black;
}

.fa-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fa-arrow-wrapper {
  position: absolute;
  left: auto;
  top: -43px;
  right: -123px;
  bottom: 0%;
  z-index: 1;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 2px;
  border-color: #dbc6bc;
}

.fa-wrapper-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.fa-arrow-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding: 22px;
}

.fa-container {
  right: 60px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-next {
  position: relative;
}

html,
body {
  height: 100%;
}

:root {
  font-size: 15px;
}

body {
  --color-bg: #f2e0d8;
  --color-number: #000;
  --color-title: #fff;
  --color-caption: #000;
  --color-content: #000;
  --color-content-bg: var(--color-bg);
  --color-reveal-bg: var(--color-bg);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "NB International", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

.dark-mode {
  --color-text: #424242;
  --color-bg: #101010;
  --color-link: #bb3a3a;
  --color-link-hover: #fff;
  --color-number: #484848;
  --color-title: #bb3a3a;
  --color-caption: #484848;
  --color-content: #dadada;
  --color-content-title: #bb3a3a;
  --color-content-meta: #fff;
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
}

.frame {
  padding: 3rem 5vw 0;
  text-align: center;
  position: relative;
  z-index: 100;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
}

.frame__links a {
  margin: 0 0.5rem;
}

.frame__mode {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.frame__mode-item {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 0.25rem;
  pointer-events: auto;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  border: 1px solid var(--color-text);
}

.frame__mode-item--dark {
  background: #000;
}

.frame__mode-label,
.frame__mode-input {
  font-size: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.content {
  position: relative;
}

.content__item {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: var(--color-content);
  background: var(--color-content-bg);
}

.js .content__item {
  opacity: 0;
  pointer-events: none;
}

.js .content__item--current {
  opacity: 1;
  pointer-events: auto;
  top: 16rem;
}

.content__item-header {
  padding: 2rem 2rem 0;
  position: relative;
}

.content__item-header-title {
  font-family: Adieu, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
  color: var(--color-content-title);
}

.content__item-header-meta {
  text-indent: 0.25rem;
  display: block;
  color: var(--color-content-meta);
}

.dark-mode .content__item-header-meta {
  mix-blend-mode: difference;
}

.content__item-header-meta::before {
  content: "———";
  margin: 0 0.5rem 0 0;
  letter-spacing: -0.2vw;
}

.content__item-copy {
  padding: 2rem;
  font-family: NB International, serif;
}

.revealer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: rotate(-8deg);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.revealer__inner {
  background-color: var(--color-reveal-bg);
  width: 200%;
  height: 200%;
  position: relative;
  flex: none;
}

.grid {
  position: absolute;
  display: grid;
  height: 100vw;
  width: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-template-areas: "griditem-left griditem-center griditem-right";
}

.grid--slideshow,
.grid--interaction {
  left: -5%;
  width: 110%;
  pointer-events: none;
}

.grid--slideshow {
  transform: translateX(3%) rotate(-8deg);
}

.grid--titles {
  grid-template-columns: repeat(3, calc((100% + 20vw) / 3)) !important;
  transform: translateX(-13%) !important;
  grid-column-gap: 0 !important;
  align-items: center;
  text-align: center;
  cursor: default;
}

.titles-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  /* transform: rotate(16deg); */
}

.grid__item {
  display: flex;
  justify-content: center;
  position: relative;
  pointer-events: none;
  opacity: 0;
  grid-area: griditem-center;
}

.grid__item--slide {
  flex-direction: column;
  width: 100%;
}

.grid__item--title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-size: 4vw;
  letter-spacing: -0.031em;
  margin: 0;
  font-family: "Adieu-Black", sans-serif;
  text-transform: uppercase;
  /* font-weight: 700; */
  color: var(--color-title);
}

.grid__item--title span {
  display: inline-block;
  line-height: 4vw;
  letter-spacing: -1.3vw;
  color: #f2e0d8;
  -webkit-text-stroke: 1.5px #141313;
}

.grid__item--title div {
  line-height: 3vw;
}

.grid__item--title span.space {
  width: 15px;
}

.grid__item--center,
.grid__item--left,
.grid__item--right {
  opacity: 1;
  cursor: pointer;
}

.grid__item--left {
  grid-area: griditem-left;
}

.grid__item--center {
  grid-area: griditem-center;
}

.grid__item--right {
  grid-area: griditem-right;
}

.grid__item--cursor {
  pointer-events: auto;
}

.content-open .grid__item--cursor {
  display: none;
}

.number {
  -webkit-text-stroke: 1.3px var(--color-number);
  text-stroke: 1.3px var(--color-number);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  letter-spacing: -0.03em;
  color: transparent;
  margin-bottom: 0.2vw;
  color: #141313;
  font-size: 3vw;
  line-height: 3vw;
  letter-spacing: -0.05em;
  /* margin: 0 0 12px 0; */
  font-weight: 800;
}

.img-inner {
  width: 100%;
  mix-blend-mode: multiply;
}

.img {
  position: absolute;
  pointer-events: none;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8vw;
  line-height: 2.5vw;
  font-weight: 400;
  color: var(--color-caption);
  height: 4vw;
}

p.date-caption::before {
  content: "———";
  margin: 0 0.5rem 0 0;
  letter-spacing: -0.2vw;
}

p.date-caption {
  margin: 0;
}
p.date-caption-2 {
  line-height: 12px;
}
.img-wrap,
.img--content,
.caption,
.number,
.grid__item--title,
.grid__item--title span,
.revealer__inner,
.content__item-header-title {
  /* line-height: 5vw; */
  will-change: transform;
}

.grid__item--cursor.grid__item--left::after,
.grid__item--cursor.grid__item--right::after,
.img-wrap--content::after {
  position: absolute;
  /* left: calc(50% - 30px); */
  left: -8vw;
  cursor: pointer;
}

.arrow-left {
  content: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff98d41d3dd14f881f_arrow-left.svg");
  bottom: 7vw;
  transform: rotate(-8deg);
  left: 5vw;
  z-index: 1000;
  position: absolute;
  width: 15vw;
}

.arrow-right {
  content: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff1f307178c433d901_arrow-right.svg");
  right: 5vw;
  bottom: 17vw;
  position: absolute;
  z-index: 1000;
  transform: rotate(-8deg);
  width: 15vw;
}
.img-wrap--content::after {
  top: 0.5rem;
  right: 0.5rem;
  left: auto;
  transform: scale(0.5);
  content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='52px' height='52px' viewBox='0 0 52 52' style='enable-background:new 0 0 52 52;' xml:space='preserve'%3E %3Cpath  d='M20.921 26.67L5.791 41.75C5.485 41.743.23 36.488.224 36.18L15.32 21.073.098 5.86 5.74.22l15.19 15.24L36.161.22l5.64 5.64-15.27 15.22 15.097 15.15c-.006.307-5.262 5.562-5.569 5.568L20.921 26.67z'/%3E %3C/svg%3E");
}

@media screen and (min-width: 0) {
  .frame {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    transition: 0.3s opacity;
  }

  .content-open + .frame {
    opacity: 0;
    pointer-events: none;
  }

  .frame__title-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .frame__title {
    margin: 0;
  }

  .frame__links {
    margin: 0 1.5rem;
  }

  .frame__mode {
    margin: 0;
  }

  .frame a {
    pointer-events: auto;
  }

  .grid {
    height: 100vh;
    grid-template-columns: repeat(3, calc((100% - 42vw) / 3));
    grid-column-gap: 18vw;
  }

  .grid--slideshow {
    top: 0;
  }

  .grid--interaction {
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-column-gap: 0;
  }

  .img-wrap--content {
    grid-area: 1 / 2 / 2 / 3;
  }

  .content {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .content__item {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-column-gap: 0;
  }

  .js .content__item {
    height: 100%;
  }

  .js .content__item--current {
    top: 0;
  }

  .img-wrap--content {
    /* height: 100%; */
  }

  .content__item-header {
    justify-self: center;
    grid-area: 1 / 1 / 2 / 3;
    pointer-events: none;
  }

  .content__item-header-title {
    font-size: 8vw;
  }

  .content__item-copy {
    text-align: left;
    font-size: 1.7vw;
    transform: translateX(-35%);
    line-height: 2vw;
  }

  .caption {
    margin: 2vw 0 0 0;
  }
}

@media screen and (min-width: 991px) {
  .grid__item--cursor.grid__item--left::after,
  .grid__item--cursor.grid__item--right::after,
  .arrow-left,
  .arrow-right,
  .img-wrap--content::after {
    display: none;
  }

  .close-info {
    cursor: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff2b3d3f021c895782_close.svg"), default;
  }

  .grid__item--cursor.grid__item--left {
    cursor: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff98d41d3dd14f881f_arrow-left.svg"),
      default;
  }

  .grid__item--cursor.grid__item--center {
    cursor: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff9da5e3033dd7f940_cross.svg"), default;
  }

  .grid__item--cursor.grid__item--right {
    cursor: url("https://uploads-ssl.webflow.com/5a841cafef2b990001bcadd1/5ce71bff1f307178c433d901_arrow-right.svg"),
      default;
  }
}

@media screen and (max-width: 991px) {
  body,
  main {
    -webkit-overflow-scrolling: touch;
  }

  .grid--slideshow,
  .grid--interaction {
    left: -5%;
    width: 110%;
    pointer-events: none;
  }
  .arrow-wrapper {
    bottom: 0;
    position: static;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .arrow-left,
  .arrow-right {
    width: 80px;
  }

  .grid--slideshow {
    transform: translateX(-50%) rotate(-8deg);
  }

  .grid {
    grid-template-columns: repeat(3, calc((100% + 40vw) / 3));
  }

  .grid__item--title {
    font-size: 6vw;
    height: 22vw;
  }

  .number {
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  .caption {
    font-size: 1.7vw;
    margin: 4.5vw 0 0 0;
  }

  .grid__item--cursor {
    transform: translateX(30%);
  }

  .grid__item--cursor.grid__item--left::after {
    bottom: 40px;
    left: 55vw;
    position: absolute;
  }

  .grid__item--cursor.grid__item--right::after {
    left: 15vw;
    bottom: 40px;
    position: absolute;
  }

  .grid--titles {
    grid-template-columns: repeat(3, calc((100% + 40vw) / 3)) !important;
    grid-column-gap: 18vw !important;
    transform: translateX(0%) !important;
    align-items: center;
    text-align: center;
    cursor: default;
  }

  .grid__item--title span {
    display: inline-block;
    line-height: 6vw;
    letter-spacing: -2vw;
    color: #f2e0d8;
    -webkit-text-stroke: 1px #141313;
  }

  .grid__item--title div {
    line-height: 5vw;
  }

  .fa-container {
    right: 55px;
  }
}

/* Scanlines VHS Noise Effect */
.scanlines {
  position: relative;

  pointer-events: none;
  z-index: 999;
  opacity: 0.95;

  will-change: opacity;
  -webkit-animation: opacity 3s linear infinite;
  animation: opacity 3s linear infinite;
}

.scanlines:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-animation: scanlines 0.2s linear infinite;
  animation: scanlines 0.25s linear infinite;
}

@keyframes scanlines {
  to {
    background: linear-gradient(to bottom, transparent 51%, rgba(0, 0, 0, 0.5) 51%);
    background-size: 100% 6px;
  }

  from {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 51%, transparent 51%);
    background-size: 100% 6px;
  }
}

.body {
  background-color: #f3e1d8;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  /* margin-right: 6vw; */
}

.image-slider-face {
  position: relative;
  z-index: 3;
  overflow: hidden;
  /* width: 28vw; */
  padding: 0.8vw;
  border-style: solid;
  border-width: 2.2px;
  border-color: #151414;
  background-color: #f3e1d8;
}

.img {
  position: relative;
  z-index: 1;
}

/* .scanlines {
  position: relative;
  z-index: 2;
  display: none;
} */

.html-embed-2 {
  display: none;
}

.image-slider-side {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  border-style: solid;
  border-width: 2.2px;
  border-color: #151414;
  background-color: hsla(19.354838709677423, 30.1%, 79.8%, 1);
  -webkit-transform: translate(0.8vw, 0.8vw);
  -ms-transform: translate(0.8vw, 0.8vw);
  transform: translate(0.8vw, 0.8vw);
}

.image-slider-side.slider-side {
  z-index: 1;
  -webkit-transform: translate(1.6vw, 1.6vw);
  -ms-transform: translate(1.6vw, 1.6vw);
  transform: translate(1.6vw, 1.6vw);
}

.artist-title-container {
  position: absolute;
  z-index: 10;
}

.artist-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Adieu, sans-serif;
  color: #141313;
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  text-transform: uppercase;
}

.heading-row2 {
  color: #141313;
}

.number {
  font-family: "Nb international", sans-serif;
  color: #141313;
  line-height: 3vw;
  /* letter-spacing: -0.09em; */
}

.image-number-container {
  position: relative;
  left: -15.6vw;
  margin-bottom: 10px;
}

.exhibition-container {
  position: relative;
  left: -240px;
  margin-bottom: 10px;
}

.exhibition-container.exh {
  left: -7.9vw;
  top: 2.9vw;
  margin-bottom: 0px;
}

.exhibition {
  font-family: "Nb international", sans-serif;
  color: #141313;
  font-size: 0.9vw;
  line-height: 2vw;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .image-slider-face {
    border-width: 1.8px;
    padding: 1.3vw;
  }
  .image-slider-side {
    border-width: 1.8px;
  }

  .image-slider-side {
    -webkit-transform: translate(1.2vw, 1.2vw);
    -ms-transform: translate(1.2vw, 1.2vw);
    transform: translate(1.2vw, 1.2vw);
  }

  .image-slider-side.slider-side {
    -webkit-transform: translate(2.4vw, 2.4vw);
    -ms-transform: translate(2.4vw, 2.4vw);
    transform: translate(2.4vw, 2.4vw);
  }
  .fa-text {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .fa-heading {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
  .fa-arrow-wrapper {
    top: -36px;
    right: -116px;
    width: 150px;
    height: 150px;
  }
  .fa-arrow-container {
    padding: 19px;
  }
}

@media screen and (max-width: 479px) {
  .revealer,
  .content,
  .grid--slideshow {
    margin-top: 0;
  }

  .arrow-left,
  .arrow-right {
    width: 50px;
  }

  .grid {
    grid-template-columns: repeat(3, calc((100% + 86vw) / 3));
  }

  .grid__item--title {
    font-size: 8vw;
    height: 28vw;
  }

  .number {
    font-size: 8vw;
    margin-bottom: 1vw;
  }

  .caption {
    font-size: 2.2vw;
    margin: 7vw 0 0 0;
  }

  .grid--titles {
    grid-template-columns: repeat(3, calc((100% + 100vw) / 3)) !important;
    grid-column-gap: 12vw !important;
    transform: translateX(0%) !important;
    align-items: center;
    text-align: center;
    cursor: default;
  }

  .grid__item--title span {
    display: inline-block;
    line-height: 6vw;
    letter-spacing: -2.8vw;
    color: #f2e0d8;
    -webkit-text-stroke: 0.8px #141313;
  }

  .grid__item--title div {
    line-height: 7vw;
  }

  .grid__item--cursor.grid__item--left::after {
    bottom: 15px;
    position: absolute;
    left: 40vw;
  }

  .grid__item--cursor.grid__item--right::after {
    left: -30vw;
    bottom: 15px;
    position: absolute;
  }
  .fa-text {
    font-size: 3vw;
    line-height: 3vw;
  }
  .fa-heading {
    font-size: 6vw;
    line-height: 6vw;
  }
  .fa-arrow-wrapper {
    top: -5.2vw;
    right: -16.5vw;
    width: 23vw;
    height: 23vw;
  }
  .fa-arrow-container {
    padding: 14px;
  }

  .image-slider-face {
    padding: 1.8vw;
  }

  .image-slider-side {
    -webkit-transform: translate(1.8vw, 1.8vw);
    -ms-transform: translate(1.8vw, 1.8vw);
    transform: translate(1.8vw, 1.8vw);
  }

  .image-slider-side.slider-side {
    -webkit-transform: translate(3.6vw, 3.6vw);
    -ms-transform: translate(3.6vw, 3.6vw);
    transform: translate(3.6vw, 3.6vw);
  }

  .fa-container {
    right: 6.5vw;
  }
}

@font-face {
  font-family: "Nb international mono";
  src: url("../fonts/NB-International-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nb international";
  src: url("../fonts/NB-International-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Adieu";
  src: url("../fonts/Adieu-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Adieu";
  src: url("../fonts/Adieu-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

.body {
  background-color: #f3e1d8;
}

.artist-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-wrapper {
  position: relative;
}

.image-face {
  position: relative;
  z-index: 3;
  overflow: hidden;
  width: 24vw;
  padding: 0.8vw;
  border-style: solid;
  border-width: 2.2px;
  border-color: #151414;
  background-color: #f3e1d8;
  height: 100%;
}

.img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.html-embed-2 {
  display: none;
}

.image-side {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  border-style: solid;
  border-width: 2.2px;
  border-color: #151414;
  background-color: hsla(19.354838709677423, 30.1%, 79.8%, 1);
  -webkit-transform: translate(0.8vw, 0.8vw);
  -ms-transform: translate(0.8vw, 0.8vw);
  transform: translate(0.8vw, 0.8vw);
}

.image-side.side {
  z-index: 1;
  -webkit-transform: translate(1.6vw, 1.6vw);
  -ms-transform: translate(1.6vw, 1.6vw);
  transform: translate(1.6vw, 1.6vw);
}

.artist-title-container {
  position: absolute;
  z-index: 10;
}

.artist-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Adieu, sans-serif;
  color: #141313;
  font-size: 3.5vw;
  line-height: 3.5vw;
  text-align: left;
  text-transform: uppercase;
}

.artist-title.row2 {
  color: #141313;
}

.heading-row2 {
  color: #141313;
}

.image-number-container {
  position: relative;
  left: -15.6vw;
  margin-bottom: 10px;
}

.exhibition-container {
  position: relative;
  left: -240px;
  margin-bottom: 10px;
}

.exhibition-container.exh {
  left: -7.9vw;
  top: 2.9vw;
  margin-bottom: 0px;
}

.exhibition {
  font-family: "Nb international", sans-serif;
  color: #141313;
  font-size: 0.9vw;
  line-height: 2vw;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.artist-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.artist-wrapper.artist-right-box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.artist-name-wrapper {
  margin-bottom: 1vw;
}

.artist-country {
  margin-top: 1vw;
  font-family: "Nb international", sans-serif;
  color: #000;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
}

.exhbition-item {
  margin-top: 0.2vw;
  font-family: "Nb international mono", sans-serif;
  color: #141313;
  font-size: 0.7vw;
  line-height: 1vw;
}

.artist-bio {
  margin-top: 2vw;
}

.text-block {
  max-width: 90%;
  font-family: "Nb international", sans-serif;
  color: #141313;
  font-size: 1.2vw;
  line-height: 1.4vw;
}

.inner-artist-wrapper {
  max-width: 80%;
}

.text-span {
  text-transform: none;
}

@media (max-width: 991px) {
  .image-face {
    width: 27vw;
    border-width: 1.8px;
  }
  .image-side {
    border-width: 1.8px;
    -webkit-transform: translate(1vw, 1vw);
    -ms-transform: translate(1vw, 1vw);
    transform: translate(1vw, 1vw);
  }
  .image-side.side {
    -webkit-transform: translate(2vw, 2vw);
    -ms-transform: translate(2vw, 2vw);
    transform: translate(2vw, 2vw);
  }
  .exhbition-item {
    margin-top: 1.2vw;
    font-size: 1.3vw;
    line-height: 1.7vw;
  }
  .text-block {
    max-width: 95%;
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media (max-width: 479px) {
  .artist-container {
    height: auto;
    padding-top: 28vw;
    padding-bottom: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-wrapper {
    right: 4vw;
  }
  .image-face {
    width: 70vw;
    padding: 1.5vw;
    border-width: 1.5px;
  }
  .image-side {
    border-width: 1.5px;
    -webkit-transform: translate(2.5vw, 2.5vw);
    -ms-transform: translate(2.5vw, 2.5vw);
    transform: translate(2.5vw, 2.5vw);
  }
  .image-side.side {
    -webkit-transform: translate(5vw, 5vw);
    -ms-transform: translate(5vw, 5vw);
    transform: translate(5vw, 5vw);
  }
  .artist-title {
    font-size: 8vw;
    line-height: 8vw;
  }
  .number {
    font-size: 8vw;
    line-height: 8vw;
  }
  .artist-wrapper.artist-right-box {
    padding-top: 14vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .artist-country {
    margin-top: 2vw;
    font-size: 6vw;
    line-height: 6vw;
  }
  .exhbition-item {
    margin-top: 3vw;
    font-size: 3vw;
    line-height: 3.8vw;
  }
  .artist-bio {
    margin-top: 4vw;
  }
  .text-block {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
