body {
  background: #141313;
  margin: 0;
  max-width: 100%;
  width: 100%;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  display: block;
  position: relative;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background-color: #F2E0D8;
  box-sizing: border-box;
}

#container {
  cursor: none;
  touch-action: none;
  margin: 70px;
  background: #F2E0D8;
}

.section {
  position: relative;
  height: 85vh;
  max-width: 100%;
  justify-content: center;
  align-content: center;
}

.wrapper {
  background: #141313;
  width: 100%;
  height: 100%;
}

.header, .section{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.st0{fill:#F2E0D8;stroke:#141313;stroke-miterlimit:10;}
.st1{fill:#141313;}
.st2{fill:#F2E0D8;}

.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text14 {
  position: absolute;
  width: 800px;
  height: 800px;
  pointer-events: none;
  z-index: 1;
}

.text13 {
  z-index: 0;
  position: absolute;
  width: 800px;
  height: 800px;
  pointer-events: none;
}