body {
  overflow: hidden;
  min-height: 100vh;
  cursor: none;
}

.blobby-bit {
  width: 300px;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
}

#container {
  cursor: none;
  touch-action: none;
  width: 80%;
  height: 80%;
  background: #F2E0D8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 50vw;
}

.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text14 {
  /* position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none;
  z-index: 1; */
}

.text13 {
  /* z-index: 0;
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none; */
}
