 #cursor {
       height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
   position: absolute;
    }

html, body {
  cursor: url("https://cdn.jsdelivr.net/gh/mariotti8/fatfatfatfestival@b85e71a/assets/cursor.svg"), pointer;

}
 